.account-root{
  .account-container{
    flex: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: transparent;
    color: #ffffff;
    //justifyContent: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-left: 0;
    font-family: PingFang-SC-Heavy, PingFang-SC;
    //z-index: 100;
    //transition: 'background-color 0.2s linear',
  }
  .account-middle-txt{
    text-align: center;
    margin-top: 140px;
    font-size: 60px;
    line-height: 84px;
    font-weight: bold;
    &:nth-child(2){
      margin-top: 0px;
      font-size: 60px;
      font-weight: 800;
      color: #FFFFFF;
      line-height: 84px;
    }
  }
  .open-btn{
    width: 240px;
    height: 60px;
    background: linear-gradient(51deg, #FE2105 0%, #FF5B00 27%, #96E9EA 100%);
    border-radius: 36px;
    margin-top: 48px;
    &:hover{
      background-color: #F5B812;
    }
  }
}
@media (max-width:760px){
  .account-root{
    .account-container{
      margin-left: 0;
    }
    .open-btn{
      width: 32vw;
    }
  }
}
